# Jupyter Notebook Introduction

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Testing jup notebook')

Testing jup notebook

# Running Pandas Introduction
https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  0.349113 -0.021739 -1.957277 -0.421502
2013-01-02  0.443444 -0.797665 -0.938574  0.526366
2013-01-03 -1.410073 -0.389423  0.338307  0.399712
2013-01-04 -0.334133  1.106081 -1.281939 -0.805141
2013-01-05  1.819199  0.256029 -2.556107 -0.525957
2013-01-06  1.700085 -0.346617 -0.150311  2.380169

In [9]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo